.bannerHeading{
    padding-top: 50px;
    font-size: 65px;
    color: #002d5b;
}
.bannerCntTtl{
    font-size: 18px;
    margin-top: 50px;
    line-height: 1.6;
    font-weight: 700;
    color: #002d5b;
}
.bannerImg{
    max-height: 700px;
}
.hrTitleCenter{
    height: 2px;
    width: 100px;
    background-color: #ec5b53;
}
section h3{
    padding-top: 50px;
    font-size: 2.25rem;
}

// section02 style
.section02 p{
    font-size: 1.25rem;
    line-height: 1.6;
}
// section02 style
