// common style
.bluecolor{
    color: #002d5b;
}
// common style
.bannerHeading{
    padding-top: 50px;
    font-size: 65px;
    color: #002d5b;
}
.bannerCntTtl{
    font-size: 18px;
    margin-top: 50px;
    line-height: 1.6;
    font-weight: 700;
    color: #002d5b;
}
.bannerImg{
    max-height: 700px;
}
.hrTitleCenter{
    height: 2px;
    width: 100px;
    background-color: #ec5b53;
}
section h3{
    padding-top: 50px;
    font-size: 2.25rem;
}

// section01 style
.section01Heading{
    color: #002d5b;
    padding-top: 15%;
    line-height: 1.5;
}
.hirebtn {
    width: 100%;
    display: flex;
    @media (max-width: 800px) {
      justify-content: center;
    }
  }
// section01 style
// section02 style
.section02 p{
    font-size: 1.25rem;
    line-height: 1.6;
}
.experienceCard{
    border-radius: 8px;
    background-color: #002d5b;
}
// section02 style
// section03 style

// section03 style
