<header class="container my-lg-2">
    <nav class="navbar navbar-expand-lg pe-0">
        <div class="row w-100 justify-content-between">
            <a class="navbar-brand col-xl-2 col-lg-3 col-6" href="#">
                <h2 class="pt-1 ">K.K.</h2>
            </a>
            <button class="navbar-toggler col-md-1 col-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg fill="#ec5b53" height="auto" width="100%" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    viewBox="0 0 150 150" xml:space="preserve">
                    <g id="XMLID_240_">
                        <path id="XMLID_241_" d="M15,30h120c8.284,0,15-6.716,15-15s-6.716-15-15-15H15C6.716,0,0,6.716,0,15S6.716,30,15,30z"/>
                        <path id="XMLID_242_" d="M135,60H15C6.716,60,0,66.716,0,75s6.716,15,15,15h120c8.284,0,15-6.716,15-15S143.284,60,135,60z"/>
                        <path id="XMLID_243_" d="M135,120H15c-8.284,0-15,6.716-15,15s6.716,15,15,15h120c8.284,0,15-6.716,15-15S143.284,120,135,120z"/>
                    </g>
                </svg>
            </button>
            <div class="collapse navbar-collapse col-lg-6 col-12 pe-5" id="navbarNav">
                <ul class="navbar-nav w-100 justify-content-end">
                    <li class="nav-item ps-3 ps-lg-0 col-lg-2" *ngFor="let navName of navBar">
                        <a class="nav-link text-dark text-lg-center text-capitalize" aria-current="page" href={{navName.link}}>{{navName.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>