<header class="container mb-lg-5">
    <nav class="navbar navbar-expand-lg pe-0">
        <div class="row w-100 justify-content-between">
            <a class="navbar-brand col-xl-2 col-lg-3 col-6" href="#">
                <h2 class="pt-1 ">K.K.</h2>
            </a>
            <button class="navbar-toggler col-md-1 col-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <img src={{menuBtn}} class="img-fluid " alt="">
            </button>
            <div class="collapse navbar-collapse col-lg-6 col-12 pe-5" id="navbarNav">
                <ul class="navbar-nav w-100 justify-content-end">
                    <li class="nav-item ps-3 ps-lg-0 col-lg-3" *ngFor="let navName of navBar">
                        <a class="nav-link text-dark text-lg-center text-capitalize" aria-current="page" href="#">{{navName}}</a>
                    </li>
                    <li class="nav-item ps-3 ps-lg-0 d-block d-lg-none">
                        <a href={{resumeUrl}} class="btn btn-danger text-capitalize">{{resume}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 d-none d-lg-block px-0">
                <div class="d-flex justify-content-end pt-2">
                    <a href={{resumeUrl}} class="btn btn-danger text-capitalize">{{resume}}</a>
                </div>
            </div>
        </div>
    </nav>
</header>